!!! 5
//This site is hosted on node.js by nodejitsu! :D
html(lang="en")
  include template/head
    title The SearchBeam Blog
    link(rel="prev", href="/projects").nope
    link(rel="next", href="/").nope

  .shadow
    include template/header-nav

  body
    include template/ie8
    .blurable
      .padd-half
      h1 Alpha Product.
      .centered
        a(href='#', style="display: none;").inline#newer newer
        .inline#spacer(style="display: none;")  | <!---->
        a(href='#', style="display: none;").inline#older older
        .padd-top
        include template/noscript
        #articles
      .padd-top

  .shadow
    include template/footer

      script.
        var bindKudosButtons = function() {
          $('.kudos_button').click(function(e) {
            var that = this;
            $.ajax({
              type: "POST",
              contentType: "application/json",
              data: JSON.stringify({ postid: $(that).parent().parent().children('.blog-id').text() }),
              dataType: "json",
              error: function(jqXHR, textStatus, errorThrown) {
                console.log("Kudos error: " + textStatus);
                $(that).removeClass('checked').addClass('err');
                $(that).html('&#xF119;');
              },
              success: function(data) {
                $(that).parent().children('.kudos').text(data.kudos);
                if (data.self) {
                  $(that).removeClass('err').addClass('checked').html('&#xF00C;');
                  if ($(that).is(':hover')) $(that).trigger('hover');
                } else {
                  $(that).removeClass('err checked').html('&#xF067;')
                }
              },
              timeout: 6000
            });
            return false;
          }).hover(function(e) {
            if ($(this).hasClass('checked')) $(this).html('&#xF00D;');
          }, function(e) {
            if ($(this).hasClass('checked')) $(this).html('&#xF00C;');
          });
        }

        bindKudosButtons();

      if query.title || query.id
        script.
          $(document).ready(function() {
            $.ajax({
              type: "POST",
              url: 'blog-posts',
              contentType: "application/json",
              data: JSON.stringify({title: '#{query.title}', post_id: '#{query.id}'}),
              dataType: "html",
              error: function(jqXHR, textStatus, errorThrown) {
                $("#articles").html("<div class=err>" + errorThrown + ' (' + textStatus + ')</div>');
              },
              success: function(data) {
                $("#articles").html(data);
                bindKudosButtons();
              },
              timeout: 60000
            });
          });
      else
        script.
          var page = #{query.page || 0};

          $(document).ready(function() {
            function getPosts(i) {
              $.ajax({
                type: "POST",
                url: 'blog-posts',
                contentType: "application/json",
                data: JSON.stringify({ page: i }),
                dataType: "html",
                error: function(jqXHR, textStatus, errorThrown) {
                  $("#articles").html("<div class=err>" + errorThrown + ' (' + textStatus + ')</div>');
                },
                success: function(data) {
                  $("#articles").html(data);
                  bindKudosButtons();
                },
                timeout: 60000
              });
            }

            getPosts(page);

            $('#older').click(function(e) {
              e.preventDefault();
              e.stopPropagation();
              getPosts(++page);
            });
            $('#newer').click(function(e) {
              e.preventDefault();
              e.stopPropagation();
              getPosts(--page < 0 ? page = 0 : page);
            });
          });
